// variables
@import "includes/variables";
// custom mixins
@import "includes/mixins";
// res css
// @import "includes/res";
// @import "includes/normalize";
// media quaries
@import "includes/media-queries";
// fonts
// @include font-face('Ico Moon', '../fonts/icomoon', normal, normal);

html{
	height:100vh;
	min-width:320px;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}
body{
	font: #{$site_font_size}/#{$site_line_height} $default_font;
	min-height:100%;
	height: 100%;
	min-width:320px;
	position:relative;
	color: $body_color;
	background: $body_bg;
	padding-top: 80px;

	@media screen and (max-width: 991px){
		padding-top: 10px;
	}
}
a{
	color: var(--main-accent-color);

	@media screen and (min-width: 992px) {
		&:hover {
			color: var(--additional-accent-color);
			text-decoration: none;
		}
	}
}

input{
	outline:none;
	-webkit-appearance:none;
	-webkit-border-radius:0;
	-moz-border-radius:0;
	border-radius:0;
}

*{
	outline: none;
}
* {
	box-sizing: border-box;
	&:before, &:after{
		box-sizing: border-box;
	}
	@include selection {
		background: $selection_bg;
		color: $selection_color;
	}
}
//ico
// *[class*=ico_]{
// 	display:inline-block;
// 	vertical-align:top;
// 	background:url(../images/sprite@320.png) no-repeat;
// 	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
// 		background:url(../images/sprite2x.png) no-repeat;
// 		background-size: 0px 0px; // width and height sprite320
// 	}
// }

//placeholder cross-browser
input, textarea {
	@include placeholder {
		color: $placeholder_color;
	}
	&.placeholder {
		color: $placeholder_color !important;
	}
}
// separator
// @extend %separator;
%separator {
	display: inline-block;
	vertical-align: middle;
	padding-left: 10px;
	&:before {
		content: '|';
		padding-right: 10px;
		color: $black;
	}
	&:first-child {
		padding-left: 0;
		&:before {
			display: none;
			padding-right: 0;
		}
	}
}

// clearfix
// @extend %clearfix;
%clearfix {
	&:before {
		content: "";
		display: table;
		clear: both;
	}
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.wrapper{
	display: table;
	width: 100%;
	height: 100%;
	table-layout: fixed;
	overflow: hidden;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	min-height: 100%;
	padding: 0 20px;
}

// headings
h1 {
	font-size: 3.157em;
	font-family: 'Play', sans-serif;
}

h2 {
	font-size: 2.369em;
	font-family: 'Play', sans-serif;
}

h3 {
	font-size: 1.777em;
	font-family: 'Play', sans-serif;
}

h4 {
	font-size: 1.333em;
	font-family: 'Play', sans-serif;
}

h5 {
	font-size: 1em;
	font-family: 'Play', sans-serif;
}

h6 {
	font-size: 0.75em;
	font-family: 'Play', sans-serif;
}

.title {
	margin: 0 0 20px;
}

.image-wrapper {
	max-width: 750px;
	text-align: center;
	margin: 0 auto;
}

img {
	max-width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;

}

button {
	cursor: pointer;
	background: none;
	padding: 0;
	border: none;
	outline: none;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.btn {
	padding: 1rem;
	color: $white;
	position: relative;
	max-width: 250px;
	border-radius: 30px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: .1px;
	background-color: var(--main-accent-color);
	transition: all .8s ease;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;

	@media screen and (min-width: 992px){
		&:hover {
			color: $white;
			box-shadow: inset 0 0 15px 5px var(--additional-accent-color);
		 }
	}
}

table {
	width: 100%;
	max-width: 750px;
	margin: 1.5em auto;
	border: 1px solid var(--additional-accent-color);
	border-spacing: 0;
	border-collapse: collapse;
	font-size: .9em;
}

table td {
	border: 1px solid var(--additional-accent-color);
	padding: 15px;
	font-size: 1.2em;
}

ul,ol {
	font-size: 14px;
	line-height: 26px;
	margin-bottom: 20px;
}

.breadcrumbs {
	list-style: none;
	padding: 0;
	display: flex;
	align-items: center;
	font-size: 20px;

	li {
		margin-right: 10px;

		&:not(:last-child) {
			&:after {
				content: '>>';
				margin-left: 10px;
			}
		}
	}
}
.user{
	margin: 5vh 0;
	.user-wrapper{
		display: flex;
		justify-content: flex-start;
		padding: 15px;
		border: 1px solid gray;
		border-radius: 15px;
		.user-photo{
			width: 15vw;

		}
		.user-description{
			width: 100vw;
			padding: 0 2vw 0s 0;
			.user-name{
				h3{
					color: red;
				text-decoration: underline;

				}

			}
		}
	}
}



// Author page
.author-page{
	padding: 0 0 7vh;
	.author-wrapper{
		background-color: gray;
		padding: 2vw  2vw 2vw 0;
		margin: 2vw 0 0;
		border: 1px solid gray;
		display: flex;
		justify-content: space-evenly;
		.author-photo{
			display: inherit;
			flex-direction: column;
			padding: 0 1vw;
			align-items: center;
			width: 20vw;

			img{
				display: inherit;
				width: 20vw;
			}
			.author-links{
				flex-direction: column;
				font-size: 2vw;
				.link-title{
					display: inline-block;

					h5{
						font-size: 25px;
						margin: unset;
					}

				}

				.link{
					font-size: 25px;
					display: inline-block;
					padding-top: 2vh;
				}
			}
		}
		.author-description{
			position: relative;
			background-color: var(--main-accent-color);
			width: 60vw;
			padding: 1vw 2vw ;
			.profile{
				h5{
					padding-top: 1vh;
					font-size: 1.3vw;
					margin: 0;
				}
			}
			.profile-text{
				p{
				font-size: 15px;


				}
			}
		}
	}
	.author-posts{
		border-top: 1px solid var(--main-accent-color);
		background-color: gray;
		padding: 5vh 0;
		.posts-title{
			padding: 0vh 2vw 0;
			h2{
				margin-top: 0;
			}
		}
		.posts-history{
			padding: 0 2vw;
			.history-item{
				padding: 0.5vw ;
				display: inline-block;
				a{
					font-size: 25px;

				}
				span{
					font-size: 25px;
				}
			}

		}
	}
}

// Promo code block
.promo-code{
	background-color: rgba(218, 218, 218, 0.6);
	padding: 1vw;

	.promo-wrapper{
		display: flex;
		// justify-content: flex-start;
		justify-content: space-around;
		align-items: center;
		flex-direction: initial;
		border: 1px solid gray;
		background-color: white;
		border-radius: 5px;
		.promo-block{
			padding: 1vw;
			.logo{
				img{
					max-width: 6vw;
				}
			}
			.title{

				h5{
					font-size: 1vw;
					color: rgb(55,0, 131);
					margin-bottom: unset;
				}
				h3{
					font-size: 1.5vw;
				}
			}
			.stars{
				display: flex;
    			align-items: center;
				img{
					width:  1.5vw;
				}
				.rate{
					display: inline-block;
				}
			}
			.promo-title{
				font-size: 1.5vw;
			}
			.promo-anchor{
				width: fit-content;
				background-color: white;
				position: relative;
				left: 3vw;
				top: 1vh;
				z-index: 1;
				padding: 0 1vw;
				span{
					font-size: 0.7vw;
					color: green;
				}
			}
			.promo-btn{
				position: relative;
				justify-content: center;
				display: flex;
				align-items: center;
				border: 1px dashed green;
				padding: 1vw;
				border-radius: 2vw;
				width: 20vw;
				.copy-btn{
					display: inherit;
					position: absolute;
					right: 1vw;
					cursor: pointer;
					img{
						width: 2vw
					}
				}
			}
			.option-item{
				display: flex;
				align-items: center;
				margin: 2vh 0;
				span{
					padding-left: 0.5vw;
				}
				img{
					width: 1.5vw;
				}
			}
		}
		.promo-logo{
			min-width: fit-content;
		}
		.activate-promo{
			max-width: 22vw;
			position: relative;


		}
		.promo-option{
			padding: 1.2vw 0.5vw 1.2vw 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}
		.promo-send{

			.send-btn{
				background-color: red;
				color: wheat;
				padding: 1vh 2vw;
				font-size: 1vw;
			}

		}
	}

}




//icon
// [class^="icon-"], [class*=" icon-"] {
// 	/* use !important to prevent issues with browser extensions that change fonts */
// 	font-family: 'Ico Moon' !important;
// 	font-size: 12px;
// 	speak: none;
// 	font-style: normal;
// 	font-weight: normal;
// 	font-variant: normal;
// 	text-transform: none;
// 	line-height: 1;

// 	/* Better Font Rendering =========== */
// 	-webkit-font-smoothing: antialiased;
// 	-moz-osx-font-smoothing: grayscale;
// }

// @include max-screen(1000px) {}

// template css
@import "templates/header";
// template css
@import "templates/main";
// template css
@import "templates/footer";
// // template css
// @import "templates/forms";
// // template css
// @import "includes/popup";
