<article>
    <div class="main-title">
        <div class="container">
            <h1 class="title">Raul Flores</h1>
        </div>
    </div>

    <div class="container">
        <div class="author-page">
            <div class="author-wrapper">
                <div class="author-photo">
                    <img src="./images/Raul-Flores-130x130.jpg" alt="image">
                    <div class="author-links">
                        <div class="link-title">
                            <h5>Website:</h5>
                        </div>
                        <div class="link">
                            <a href="#">link</a>
            
                        </div>
                    </div>
        
                </div>
    
                <div class="author-description">
                    <div class="profile">
                        <h5>Profile:</h5>
                    </div>
                    <div class="profile-text">
                        <p>
                            Raul Flores is a gambling expert who has made a name for himself in the industry. 
                            He has been featured in several major publications and has given lectures on gambling 
                            strategy all over the world. Raul is considered to be one of the foremost experts on 
                            blackjack and casino poker, and his advice is sought by gamblers from all walks of life. 
                            He has spent the last few years investigating crash games and JetX in particular. 
                            He is excited to continue working on new and innovative ways to improve the gaming 
                            experience for everyone.

                            Raul Flores is a gambling expert who has made a name for himself in the industry. 
                            He has been featured in several major publications and has given lectures on gambling 
                            strategy all over the world. Raul is considered to be one of the foremost experts on 
                            blackjack and casino poker, and his advice is sought by gamblers from all walks of life. 
                            He has spent the last few years investigating crash games and JetX in particular. 
                            He is excited to continue working on new and innovative ways to improve the gaming 
                            experience for everyone.
                        </p>
                    </div>
                </div>

    
            </div>
            <div class="author-posts">
                    <div class="posts-title">
                        <h2>
                            Posts by Raul Flores:
                        </h2>
                    </div>
                    <div class="posts-history">
                        <div class="history-item">
                            <a href="#">Privacy Policy:</a>
                        </div>
                        <div class="history-item">
                            <span>21 Sep 2023</span>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</article>