<ul class="main-menu js-mobile-menu">
    <li class="main-menu__item">
        <a href="/">{{pageTitle}}</a>
    </li>
    <li class="main-menu__item submenu-wrapper js-submenu-wrapper">
        <a href="/">Where to play</a>
        <ul class="submenu">
            <li><a href="/">Test 1</a></li>
            <li><a href="/">Test 2</a></li>
            <li><a href="/">Test 3</a></li>
            <li><a href="/">Test 4</a></li>
        </ul>
    </li>
    <li class="main-menu__item">
        <a href="/">How to play</a>
    </li>
    <li class="main-menu__item">
        <a href="/">Politica de Cookies</a>
    </li>
    <li class="main-menu__item submenu-wrapper js-submenu-wrapper">
        <a href="404.html">404 page</a>
        <ul class="submenu">
            <li><a href="/">Test 1</a></li>
            <li><a href="/">Test 2</a></li>
            <li><a href="/">Test 3</a></li>
            <li><a href="/">Test 4</a></li>
        </ul>
    </li>
</ul>