// settings main
$body_color:#000000;
$body_bg:#fff;
$placeholder_color:#999;
$selection_bg:#fff;
$selection_color:#fff;
$site_font_size:16px;
$site_line_height:1.2;
$default_font: 'Play', sans-serif;
$link_color:#fff;
$link_hover_color:#bc0b0b;