<!DOCTYPE html>
<html lang="pt">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="index, follow" />
		<!-- <base href="https://aviatoraposta.com.br/"> -->

		<!-- cюда тянуть урл страницы на которой находимся -->
		<link rel="canonical" href="plug-url-canonical" />

		<title>{{pageTitle}}</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet" />
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet" />

		<link rel="stylesheet" type="text/css" href="css/all.css" media="all" />
	</head>

	<body>
		<div class="wrapper">
			<header class="header">
				<div class="header-inner">
					<div class="container">
						<div class="header-branding">
							<div class="burger">
								<img src="images/burger.png" alt="burger" />
							</div>
							<div class="logo">
								<img src="images/logo.png" alt="Игра Байрактар" />
							</div>
						</div>
					</div>
				</div>

				<div class="header-menu">
					<div class="container">
						<nav>
							<ul>
								<li><a href="#">Home</a></li>
								<li><a href="#">About</a></li>
								<li><a href="#">Contact</a></li>
							</ul>
						</nav>
					</div>
				</div>

				<div class="burgerBlock"></div>
			</header>