// colors
$white:#fff;
$black:#000;

// settings main
$body_color:$black;
// $body_bg:$black;
$body_bg:$white;
$placeholder_color:#999;
$selection_bg: var(--additional-accent-color);
$selection_color:$white;
$site_font_size:12px;
$site_line_height:1.2;
$default_font: 'Roboto', Helvetica, sans-serif;
$link_color: var(--main-accent-color);
$link_hover_color: var(--main-accent-color);

// main section
$main_bg:$white;
$main_color:$black;