<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="robots" content="index, follow" />
		<!-- <base href="https://aviatoraposta.com.br/"> -->

		<!-- cюда тянуть урл страницы на которой находимся -->
		<link rel="canonical" href="https://aviatoraposta.com.br/" hreflang="pt" />

		<meta property="og:locale" content="pt_PT" />
		<meta property="og:locale:alternate" content="pt_BR" />
		<meta property="og:locale:alternate" content="pt_US" />
		<meta property="og:locale:alternate" content="pt_AO" />
		<meta property="og:locale:alternate" content="pt_CV" />
		<meta property="og:locale:alternate" content="pt_GW" />
		<meta property="og:locale:alternate" content="pt_MZ" />
		<meta property="og:locale:alternate" content="pt_ST" />
		<meta property="og:locale:alternate" content="pt_TP" />
		<meta property="og:locale:alternate" content="pt_MO" />
		<meta property="og:locale:alternate" content="pt_AD" />
		<meta property="og:locale:alternate" content="pt_LU" />
		<meta property="og:locale:alternate" content="pt_NA" />
		<meta property="og:locale:alternate" content="pt_ZA" />
		<meta property="og:locale:alternate" content="pt_ES" />
		<meta property="og:locale:alternate" content="pt_CH" />
		<meta property="og:locale:alternate" content="pt_UK" />
		<meta property="og:locale:alternate" content="pt_CA" />
		<meta property="og:type" content="article" />


		<!--Вставить динамический Title  -->
		<meta property="og:title" content="Aviatoraposta" />

		<!--сюда динамически тянуть Description страницы  -->
		<meta property="og:description" content="!!!!!!!!!!!!!" />

		<!--cюда тянуть урл страницы на которой находимся  -->
		<meta property="og:url" content="https://aviatoraposta.com.br/" />
		<meta property="og:site_name" content="aviatoraposta" />
		<meta property="og:image" content="images/logo.png" />
		<meta name="twitter:card" content="summary">

		<!--Вставить динамический Title  -->
		<meta name="twitter:title" content="Aviatoraposta">

		<!--сюда динамически тянуть Description страницы -->
		<meta name="twitter:description" content="!!!!!!!">

		<meta name="twitter:image" content="images/logo.png">

		<!--cюда тянуть урл страницы на которой находимся  -->
		<meta name="twitter:url" content="https://aviatoraposta.com.br/">

		<!-- код сёрч консоли -->
		<!-- <meta name="google-site-verification" content="код серч консоли" />  -->

		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Organization",
				"name": "aviatoraposta",
				"alternateName": "aviator aposta",
				"url": "https://aviatoraposta.com.br/",
				"logo": "ссылка на логотип"
			}
		</script>
	
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "Article",
				"mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "cюда тянуть урл страницы на которой находимся"
				},
				"headline": "cюда тянуть заголовок Н1 текущей страницы",
				"description": "сюда тянуть description страницы",
				"image": "ссылка на логотип",  
				"author": {
				"@type": "Person",
				"name": "gerente de cassino Pin-Up Brasil",
				"url": "https://aviatoraposta.com.br/"
				},  
				"publisher": {
				"@type": "Organization",
				"name": "aviatoraposta",
				"logo": {
					"@type": "ImageObject",
					"url": "ссылка на логотип"
				}
				},
				"datePublished": "2023-02-10",
				"dateModified": "2023-02-15"
			}
		</script>
		

        <title>{{pageTitle}}</title>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
		
        <link rel="stylesheet" type="text/css" href="css/all.css" media="all"/>
		
    </head>

    <body>
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <div class="header-inner">
						<div class="header-branding">
							<div class="burger">
								<img src="images/burger.png" alt="burger"/>
							</div>
							<div class="logo">
								<img src="images/logo.png" alt="Игра Байрактар"/>
							</div>
						</div>

						<nav class="header-menu">
							<ul>
							  <li><a href="#">Home</a></li>
							  <li><a href="#">About</a></li>
							  <li><a href="#">Contact</a></li>
							</ul>
						  </nav>
						
						<div class="header-button">
							<a href="#" class="btn">Button text</a>
						</div>
					</div>
                </div>
			<div class="burgerBlock"></div>
            </header>

            <main class="main">