// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

.footer {
	height: 1px;
	display: table-row;
    font-size: .9em;
    background-color: #091920;
    color: #26eef4;
    position: relative;

    &:before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        border-top: 1px solid #26eef4;
    }

    &-inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}