// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

.header {
    position: relative;
    box-shadow: inset 0 -1px 0 0 #f2f5f9;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #000;
    background-repeat: no-repeat;
    margin-bottom: 30px;

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-branding {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .burger{
        display: none;
        margin-right: 30px;
        cursor: pointer;
        transition: all ease 1s;
        transform: rotate(0deg);
        @media (max-width: 768px) {
            display: block;

}
        
    }
    .burger img{
        width: 8cqw;
        
    }
    .burgerActive{
        transition: all ease 1s;
        transform: rotate(135deg);
    }

    &-menu {

        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0;
            margin: 0 20px;
            list-style: none;
            @media (max-width: 768px) {
                display: block; 
                text-align: center;

	}
        }

        li {
            margin: 0 5px;
            font-size: 3cqw;
            a {
                color: #fff;
            }
            @media (max-width: 768px) {
                display: none; ////
                font-size: 4cqw;
                padding: 20px 0;

	}
        }
    }
    .headerMenuActive li {
        display: block;
        display: block;
        position: relative;
        top: 20px;
    }
}

.logo {
    img {
        // max-height: 100px;
        width: 10cqw;
    }
}