// @import 'reset';
// @import 'media';
// @import 'global';
// @import 'icons';

// @import 'includes/plugins';

.header {
    position: relative;
    box-shadow: inset 0 -1px 0 0 #26eef4;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #091920;
    border-bottom: 1px solid #26eef4;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        height: 100px;
    }

    &-inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding-top: 2cqh;
        }

    }

    &-branding {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &-button {
        .btn{
            @media (max-width: 768px) {
                width: 28cqw;
                padding: 2cqw 1cqh;
                text-align: center;
            }
            @media (max-width: 375px) {
                width: 33cqw;

            }
        }
    }
    .burger{
        display: none;
        margin-right: 30px;
        cursor: pointer;
        transition: all ease 1s;
        transform: rotate(0deg);

        @media (max-width: 768px) {
            display: block;

        }

    }
    .burger img{
        width: 6cqw;

    }
    .burgerActive{
        transition: all ease 1s;
        transform: rotate(135deg);
        z-index: 2;
    }

    &-menu {
        ul {
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 0;
            margin: 0 20px;
            list-style: none;
            @media (max-width: 768px) {
                display: block;
                position: absolute;
                text-align: center;
                transition: all ease 1.5s;
                // padding-top: 25px;
                width: 45cqw;
                height: fit-content;
                left: -50cqw;
                top: 100px;
                margin: 0;
                background-color: gray;
                z-index: 2;
                opacity: 0.85;
	        }
            @media (max-width: 378px) {
                top: 100px;
            }
            @media (max-width: 320px) {
                top: 115px;
            }
        }

        li {
            margin: 0 5px;
            font-size: 2cqw;

            a {
                color: #26eef4;
            }

            @media (max-width: 768px) {
                display: block;
                font-size: 4cqw;
                padding: 20px 0;

	        }
            @media (max-width: 378px) {
                font-size: 6cqw;

            }
        }
    }
    .headerMenuActive ul {
        left: 0;
        transition: all ease 1s;
    }
}

.logo {
    img {
        width: 20cqw;

        @media (max-width: 768px) {
            width: 35cqw;
        }
    }
}

.burgerDisabled{
    width: 100cqw;
    height: 100cqh;
    position: absolute;
    background-color: black;
    opacity: 0.2;
    top: 0;
    z-index: 1;
}

#lang-select {
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
}