// settings main
$body_color:#000;
$body_bg:#fff;
$placeholder_color:#999;
$selection_bg:#ff5e5e;
$selection_color:#fff;
$site_font_size:16px;
$site_line_height:1.2;
$default_font: 'Montserrat', Arial, "Helvetica Neue", Helvetica, sans-serif;
$link_color:#000;
$link_hover_color:#ff5e5e;