<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<meta name="robots" content="index, follow" />
		<!-- <base href="https://bayraktargame.com/"> -->

		<!-- cюда тянуть урл страницы на которой находимся -->
		<link rel="canonical" href="https://bayraktargame.com" hreflang="ru" />
		<meta property="og:locale" content="ru_RU" />
		<meta property="og:locale:alternate" content="ru_UA" />
		<meta property="og:locale:alternate" content="ru_KZ" />
		<meta property="og:locale:alternate" content="ru_BY" />
		<meta property="og:locale:alternate" content="ru_AZ" />
		<meta property="og:locale:alternate" content="ru_AM" />
		<meta property="og:locale:alternate" content="ru_GE" />
		<meta property="og:locale:alternate" content="ru_KG" />
		<meta property="og:locale:alternate" content="ru_TJ" />
		<meta property="og:locale:alternate" content="ru_IL" />
		<meta property="og:locale:alternate" content="ru_DE" />
		<meta property="og:locale:alternate" content="ru_LV" />
		<meta property="og:locale:alternate" content="ru_LT" />
		<meta property="og:locale:alternate" content="ru_EE" />
		<meta property="og:locale:alternate" content="ru_MD" />
		<meta property="og:locale:alternate" content="ru_PL" />
		<meta property="og:type" content="article" />

		<!--Вставить динамический Title  -->
		<meta property="og:title" content="Bayraktar" />

		<!--сюда динамически тянуть Description страницы  -->
		<meta property="og:description" content="Онлайн-игра Байрактар создан провайдером Turbo Games. Для вас
		приведены основные правила и советы, которые помогут одержать
		успех в ходе игры в казино. Следуйте простым рекомендациям, и
		новинка Bayraktar станет источником щедрых вознаграждений." />

		<!--cюда тянуть урл страницы на которой находимся  -->
		<meta property="og:url" content="https://bayraktargame.com/" />

		<!--  -->
		<meta property="og:site_name" content="Игра Байрактар" />

		<meta property="og:image" content="images/logo.png" />

		<meta property="og:image:secure_url" content="images/logo.png" />
			
		<meta name="twitter:card" content="summary">

		<!--Вставить динамический Title  -->
		<meta name="twitter:title" content="Bayraktar">

		<!--сюда динамически тянуть Description страницы -->
		<meta name="twitter:description" content="Онлайн-игра Байрактар создан провайдером Turbo Games. Для вас
		приведены основные правила и советы, которые помогут одержать
		успех в ходе игры в казино. Следуйте простым рекомендациям, и
		новинка Bayraktar станет источником щедрых вознаграждений.">

		<meta name="twitter:image" content="images/logo.png">

		<!--cюда тянуть урл страницы на которой находимся  -->
		<meta name="twitter:url" content="https://bayraktargame.com/">

		<!-- код сёрч консоли -->
		<!-- <meta name="google-site-verification" content="код серч консоли" /> -->
		<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "Organization",
			  "name": "Игра Байрактар",
			  "alternateName": "Официальный сайт игры Байрактар",
			  "url": "https://bayraktargame.com/",
			  "logo": "ссылка на логотип"
			}
			</script>
		
			<script type="application/ld+json">
			{
			  "@context": "https://schema.org",
			  "@type": "Article",
			  "mainEntityOfPage": {
				"@type": "WebPage",
				"@id": "cюда тянуть урл страницы на которой находимся"
			  },
			  "headline": "Bayraktar",
			  "description": "Онлайн-игра Байрактар создан провайдером Turbo Games. Для вас
			  приведены основные правила и советы, которые помогут одержать
			  успех в ходе игры в казино. Следуйте простым рекомендациям, и
			  новинка Bayraktar станет источником щедрых вознаграждений.",
			  "image": "images/logo.png",  
			  "author": {
				"@type": "Person",
				"name": "Артем Пивоваров",
				"url": "https://bayraktargame.com/"
			  },  
			  "publisher": {
				"@type": "Organization",
				"name": "игра Байрактар",
				"logo": {
				  "@type": "ImageObject",
				  "url": "images/logo.png"
				}
			  },
			  "datePublished": "2023-01-27",
			  "dateModified": "2023-01-28"
			}
			</script>
		


        <title>{{pageTitle}}</title>
		<link rel="icon" type="image/x-icon" href="favicon.ico">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap" rel="stylesheet">
		
        <link rel="stylesheet" type="text/css" href="css/all.css" media="all"/>
		
    </head>

    <body>
        <div class="wrapper">
            <header class="header">
                <div class="container">
                    <div class="header-inner">
						<div class="header-branding">
							<div class="burger">
								<img src="images/burger.png" alt="burger"/>
							</div>
							<div class="logo">
								<img src="images/logo.png" alt="Игра Байрактар"/>
							</div>
						</div>

						<nav class="header-menu">
							<ul>
							  <li><a href="#">Home</a></li>
							  <li><a href="#">About</a></li>
							  <li><a href="#">Contact</a></li>
							</ul>
						  </nav>
						
						<div class="header-button">
							<a href="#" class="btn">Button text</a>
						</div>
					</div>
                </div>
			<div class="burgerBlock"></div>
            </header>

            <main class="main">