        <div class="footer">
            <div class="container">
                <div class="footer-wrapper">

                    <div class="menu">
                        <ul class="menu__list">
                            <li class="menu__item"><a href="/">{{pageTitle}}</a></li>
                            <li class="menu__item"><a href="/">Where to play</a></li>
                            <li class="menu__item"><a href="/">How to play</a></li>
                            <li class="menu__item"><a href="/">strategy</a></li>
                            <li class="menu__item"><a href="/">Politica de Cookies</a></li>
                        </ul>
                    </div>

                    <a href="/" title="Coin volcano" class="footer-logo">
                        <img src="./images/logo-big.webp" alt="Coin volcano" class="logo-img" width="200" height="200">
                    </a>

                    <div class="copyright">
                        © 2023 {{pageTitle}}
                    </div>

                    <div class="scroll-top js-scroll-top">
                        <svg width="800px" height="800px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M5 19L11.2929 12.7071C11.6834 12.3166 12.3166 12.3166 12.7071 12.7071L19 19" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M5 11L11.2929 4.70711C11.6834 4.31658 12.3166 4.31658 12.7071 4.70711L19 11" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- <script src="js/assets.js"></script> -->
    <script src="js/main.js"></script>
</body>
</html>